# Database Configuration
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/autonomous_data_analyst

# LLM Provider Configuration
GROQ_API_KEY=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

# Sandbox Configuration
SANDBOX_TIMEOUT_SECONDS=10
SANDBOX_MEMORY_LIMIT_MB=256
